
.mouse{
	height=10px;
	width=10px;
	background-color:pink;
}

        #container{
            font-family:helvetica;	
            margin: 0px auto;
            width:650px;
		}
        .synth{
            background-color:pink;
            position: absolute;
            height: 40px;
            min-width: 40px;
            border-radius:20px;
        }
	    #info{
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 2;
            padding: 16px 24px;
            color:grey;
            font-size:15px;
            font-family: helvetica;
        }
